* {
    /*normalize */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: 2em;
    margin-right: 2em;
    zoom: 120%;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

input, button {
    padding: .25em;
}

a, a:hover {
    text-decoration: none;
}


.index-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*main axis*/
    align-items: center; /*cross axis*/
}

.index-footer {
    margin-top: 1.5em;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#insurance-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.confirm-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.extracted-container {
    display: grid;
    align-self: stretch;
    justify-content: space-between;
}

.extracted-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-left: 1em;
    justify-self: center;
}

.extracted-label {
    display: inline-block;
    width: 15em;
}

#text-found {
    align-self: flex-start;
}

#retake-link {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#retake-button {
    width: 70%;
}


