{% extends 'base.html' %}

{% block content %}

<h1>{% block title %}Driver's ID Scanner{% endblock %}</h1>

<div class="index-container">
    <div class="index-body">
        <img src="{{ url_for('video_feed') }}" alt="camera video">
    </div>
    <div class="index-footer">
        <form id="insurance-form" method="POST" action="{{ url_for('processImage') }}">
            <div>
                <label for="insurance-number">Insurance Number</label>
                <br>
                <input type="text" name="insurance-number" id="insurance-number" autocomplete="off"
                    value="{{insurance}}" required>
            </div>
            <button type="submit">Take picture</button>
        </form>

    </div>
</div>
{% endblock %}